<footer>
  <div class="footer-content">
    <div class="logo">
      <img src="/img/logo.webp" alt="Logotipo Kathering Rivera Rodríguez" />
    </div>
    <div>
      <p>¿Te gusta lo que ves?</p>
      <button class="boton-animado"><a href="mailto:katheriverar@gmail.com">Contactame</a></button>
    </div>
    <div class="me">
      <p>&copy; 2025 Kathering Rivera</p>
      <ul class="social-media">
        <li>
          <a href="https://www.linkedin.com/in/katheringriverar/">linkedIn</a>
        </li>
        <li>
          <a href="https://www.behance.net/katherivera">Behance</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Desarrollado por Kathering Rivera</p>
  </div>
</footer>
