footer{
    background-color: hsl(255, 53%, 73%);
    padding: 2em 1em 1em 1em;

}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    & div{
        display: inline-block;
    }
    & a{
        text-decoration: none;

    }
}
.logo img{
    width: 200px;
    height: 200px;
    /* margin-right: 1em; */
}
.me{

    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        & li {
            display: inline-block;
            margin: 0 1em;
            & a{
                color: white;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #08080D;
                    transform: scale(1.4);
                }
            }
        }
    }
}
.footer-bottom{
    text-align: center;
}