.nav-bar {
  background: #4f517d;
  font-size: 1.25em;
  /* position: sticky;
    top: 0; */
  z-index: 1000;
  position: relative;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #DCCFEC;
  font-size: 1.5em;
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  width:  100%;
}

.nav-list.visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background: #4f517d;
  width: 100%;
}

.nav-list li {
  text-align: center;
  height: 80px;
}

.nav-list li a {
  display:flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  background: #3b3d5a;
  transition: 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
  }
}
