.nav-bar {
  background: #4f517d;
  font-size: 1.25em;
  /* position: sticky;
    top: 0; */
  z-index: 10;

}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  width:  100%;
  & li {
    height: 80px;
    & a {
      display:flex;
      align-items: center;
      height: 100%;
      padding: 0 2rem;
      color: white;
      text-decoration: none;
    }
    & a:hover {
      background: #3b3d5a;
      transition: 0.3s ease-in-out;
    }
  }
}
