.bg-sign-up {
  min-height: 100dvh;
  background-image: url(../img/bg-sign-up.webp);
  background-size: cover;
  background-position: right;
  overflow: hidden;
  text-align: center;
}
.wrapper {
  background-color: var(--bg);
  height: 100dvh;
  width: max(40%, 600px);
  padding: 10px;
  border-radius: 0 1.25rem 1.25rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h1 {
    font-weight: 900;
    text-transform: uppercase;
  }
  & form {
    width: min(400px, 100%);
    margin-top: 1.25rem;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    & button {
      margin-top: 10px;
      border: none;
      border-radius: 1000px;
      padding: 0.85em 4em;
      background-color: var(--accent);
      color: var(--black);
      font: inherit;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      transition: 1500 ease;
    }
    & button:hover {
      background-color: var(--primary);
      color: var(--bg);
    }
    & button:focus {
      outline: none;
      background-color: var(--black);
      color: var(--bg);
    }
  }

  & form > div {
    width: 100%;
    display: flex;
    justify-content: center;
    & label {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      background-color: var(--primary);
      border-radius: 10px 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      & span {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--bg);
      }
    }
    & input {
      flex-grow: 1;
      min-width: 0;
      height: 50px;
      padding: 1em;
      font: inherit;
      border-radius: 0 10px 10px 0;
      border: 2px solid var(--light-purple);
      background-color: var(--light-purple);
      transition: 1500 ease;
      border-left: none;
    }
    & input:hover {
      border-color: var(--primary);
    }
    & input:focus {
      outline: none;
      border-color: var(--black);
    }
    & input::placeholder {
      color: var(--black);
      opacity: 0.5;
    }
  }
  & a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 700;
  }
  & a:hover {
    text-decoration: underline;
  }
}

div:has(input:focus) > label {
  background-color: var(--black);
}
form div.error label {
  background-color: var(--danger);
}
form div.error input {
  border-color: var(--danger);
}
@media (max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
    background-image: none;
  }
}
