:root{
  --bg: oklch(0.98 0.013 130.78);
  --primary: oklch(0.45 0.0716 281.14);
  --secondary: oklch(0.72 0.1045 295.13);
  --accent: oklch(0.92 0.1183 170.6);
  --black: oklch(0.14 0.0112 284.82);
  --light-purple: oklch(0.87 0.0418 305.74);
  --light-rose: oklch(0.85 0.0437 325.95);
  --shadow: oklch(0.45 0.0716 281.14 / 0.5);
  --danger: oklch(0.68 0.175 16.27);
}
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  font-family: "quicksand", sans-serif;
  color: var(--black);
  margin: 0;
  padding: 0;
}
body {
  min-height: 100dvh;
  background-color: var(--bg);
}
:is(nav, main, footer) {
  width: 100%;
}
:is(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  margin: 0;
  color: inherit;
}
p {
  text-wrap: pretty;
  font-size: 1.05vmax;
  text-align: center;
  margin-top: 2em;
  color: inherit;
}
main {
  text-align: center;

  & section {
    padding: 0 12dvw;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  & h1 {
    margin-top: 2em;
  }
}
h1 {
  font-size: 2.5vmax;
}
h2 {
  font-size: 1.89vmax;
}
h3 {
  font-size: 1.5vmax;
}
h4 {
  font-size: 1.26vmax;
}
h5 {
  font-size: 1.05vmax;
}
h6 {
  font-size: 0.84vmax;
}
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border: none;
  border-radius: 8px;
  background-color: var(--light-purple);
  box-shadow: 0 4px 6px var(--shadow);
  text-align: center;
  z-index: 1000;
}
.blur {
  filter: blur(4px) brightness(0.7);
  ;
  pointer-events: none; /* Evita interacciones mientras el blur está activo */
}
.boton-animado {
  width: 100%;
  background-color: var(--accent);
  color: white;
  font-size: 1.2rem;
  padding: 15px 30px;
  margin: 1em 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 15px var(--shadow);
  transition: transform 0.3s ease-in-out;
  animation: pulso 2s infinite ease-in-out;
}

.boton-animado:hover {
  transform: scale(1.1);
}

/* Animación */
@keyframes pulso {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(140, 255, 218, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(140, 255, 218, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(140, 255, 218, 0.7);
  }
}
.btn-confirm {
  background-color: var(--primary);
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-confirm:hover {
  background-color: oklch(65% 0.2 60 / 0.85); /* opcional con opacidad */
}